<p>Neo4j Running on localhost:7474</p>

<p>Node Count: <%= @num_nodes %></p>

<form action="create" method="POST">
	New node name: <input type="text" name="input_name"><br>
	<input type="submit" value="Create Node">
</form>
